@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --base-font-family: "Pretendard-Regular";
}

html > body {
    margin: 0;
    font-family: var(--base-font-family);
    text-wrap: none;
}

html > body .ProseMirror,
html > body .toastui-editor-contents,
html > body .toastui-editor-defaultUI {
    font-family: var(--base-font-family);
}

/*
html > body .toastui-editor-defaultUI {
    border: 0;
}

html > body .toastui-editor-defaultUI-toolbar {
    border-radius: 0;
}

html > body .toastui-editor-mode-switch {
    border-radius: 0;
}
*/

html > body #toast-container .toast {
    white-space: normal;
}

.form-control .label .label-text {
    opacity: 0.8;
}

.detail .form-control .label {
    padding-left: 0;
}

html > body .modal-box {
    max-height: calc(100vh - 1em);
}

.label-txt {
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.7;
}