<html layout:decorate="~{usr/common/layout}">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
        <title>회원가입</title>
    </head>
    <body>
        <div layout:fragment="content" class="flex-1 items-center justify-center">
            <div class="max-w-2x1 w-full px-4">
                <h1 class="mb-4">
                    <i class="fa-solid fauser-plus"></i>
                    회원가입
                </h1>

                <form enctype="multipart/form-data" th:action name="join-form" method="POST" onsubmit="submitJoinForm(this); return false;" class="flext flext-col gap-6">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">아이디</span>
                        </label>
                        <input type="text" name="username" placeholder="아이디" class="input input-bordered" autofocus maxlength="30"
                               onchange="$(this).keyup();" onpaste="setTimeoutZero(()=>$(this).keyup());" onkeyup="checkUsernameDupDebounce();">
                        <!--<button onclick="checkUsernameDup(this);" type="button" class="btn btn-block mt-2">
                            <span>아이디 중복 체크</span>
                        </button>-->
                    </div>

                    <div class="form-controler">
                        <label class="label">
                            <span class="label-text">비밀번호</span>
                        </label>
                        <input  class="input input-bordered" maxlength="30" type="password" name="password" placeholder="비밀번호" class="input input-bordered" maxlength="30">
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">비밀번호 확인</span>
                        </label>
                        <input type="password" name="passwordConfirm" placeholder="비밀번호 확인" class="input input-bordered" maxlength="30">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">별명</span>
                        </label>
                        <input type="password" name="nickname" placeholder="닉네임" class="input input-bordered" maxlength="30">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">이메일</span>
                        </label>
                        <input type="email" placeholder="이메일" class="input input-bordered" maxlength="30"
                               onchange="$(this).keyup();" onpaste="setTimeoutZero(()=>$(this).keyup());"
                               onkeyup="checkEmailDupDebounce();">
                        <div class="mt-2 text-sm"></div>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">프로필 이미지</span>
                        </label>
                        <input type="file" name="profileImg" class="file-input file-input-bordered" accept="image/jpeg, image/png, image/gif">
                    </div>
                    <div>
                        <button class="btn btn-block btn-primary gap-1">
                            <i class="fa-solid fa-user-plus"></i>
                            <span>회원가입</span>
                        </button>
                        <div class="text-center">
                            <a class="btn btn-link">로그인</a>
                            <a class="btn btn-link">아이디 찾기</a>
                            <a class="btn btn-link">비밀번호 찾기</a>
                        </div>
                    </div>
                </form>

                <script>

                    const joinForm = documet['join-form'];

                    //username 중복체크 시작
                    function checkUsernameDup(form){

                        form.username.value = form.username.value.trim();

                        if(form.username.value.length == 0){
                            clearUsernameInputMsg();
                            return;
                        }

                        if(form.username.value.length < 4) {
                            clearUsernameInputMsg();
                            return;
                        }

                        if(lastCheckedUsername == form.username.value)return;

                        lastCheckedUsername = form.username.value;

                        clearUsernameInputMsg();

                        fetch('checkUsernameDup?username='+form.username.value)
                            .then(res => res.json())
                            .then((rs)=>{

                                if(rs.success){
                                    validUsername = rs.data;

                                }
                                setUsernameInputMsg(rs.success,rs.msg);
                            });

                    }

                    const checkUsernameDupDebounce = _.debounce(() => checkUsernameDup(joinForm), 500);

                    function clearUsernameInputMsg(){
                        $(joinForm.username).removeClass('input-accent input-error');
                        $(joinForm.username).next().removeClass('text-green-400 text-red-400');
                        $(joinForm.username).next().empty();
                    }

                    function setUsernameInputMsg(isSuccess,msg){
                        if(isSuccess) $(joinForm.username).addClass('input-accent');
                        if(!isSuccess) $(joinForm.username).addClass('input-error');

                        $(joinForm.username).next().addClass(isSuccess?'text-green-400':'text-red-400');
                        $(joinForm.username).next().text(msg);
                    }



                    let validUsername = '';
                    let lastCheckedUsername = '';
                    //username 중복 체크 끝

                    //email 중복체크 시작
                    function checkEmailDup(form){
                        form.email.value = form.email.value.trim();

                        if(form.email.value.length == 0){
                            clearEmailInputMsg();
                            return;
                        }

                        if(form.email.value.length < 4){
                            clearEmailInputMsg();
                            return;
                        }

                        if(lastCheckedEmail == form.email.value) return;

                        lastCheckedEmail = from.email.value;

                        clearEmailInputMsg();

                        fetch(
                            'checkEmailDup?email='+form.email.value
                        )
                        .then(res => res.json())
                        .then((rs)=>{
                            if(rs.success){
                                validEmail = rs.data;
                            }
                            setEmailInputMsg(rs.success,rs.msg);
                        });
                    }

                    const checkEmailDupDebounce = _.debounce(()=>checkEmailDup(joinForm),500);

                    function clearEmailInputMsg(){
                        $(joinForm.email).removeClass('input-accent input-error');
                        $(joinForm.email).next().removeClass('text-green-400 text-red-400');
                        $(joinForm.email).next().empty();
                    }

                    function setEmailInputMsg(isSuccess,msg){
                        if(isSuccess) $(joinForm.email).addClass('input-accent');
                        if(!isSuccess) $(joinForm.email).addClass('input-error');
                    }

                    let vaildEmail='';
                    let lastCheckedEmail='';

                    let submitJoinFormDone = false;

                    function submitJoinForm(form){
                        if(submitJoinFormDone) return;
                        form.username.value = form.username.value.trim();

                        if(form.username.value.length == 0 ){
                            form.username.focus();
                            toastWarning('아이디를 입력해주세요.');
                            return;
                        }

                        if(form.username.value.length < 4){
                            form.username.focus();
                            toastWarning("아이디를 4자 이상 입력해주세요.");
                            return;
                        }

                        form.password.value = form.password.value.trim();

                        if(form.password.value.length == 0){
                            form.password.focus();
                            toastWarning('비밀번호를 입력해주세요.');
                            return;
                        }

                        if(form.password.value.length<4){
                            form.password.focus();
                            toastWarning("비밀번호를 4자 이상 입력해주세요.");
                            return;
                        }

                        form.passwordConfirm.value = form.passwordConfirm.trim();

                        if(form.password.value!= form.passwordConfirm.value){
                            form.passwordConfirm.focus();
                            toastWarning('비밀번호 확인이 일치하지 않습니다.');
                            return;
                        }

                        form.nickname.value = form.nickname.value.trim();
                        if(form.nickname.value.length == 0){
                            form.nickname.focus();
                            toastWarning('닉네임을 입력해주세요.');
                            return;
                        }

                        if(form.nickname.value.length < 4){
                            form.nickname.focus();
                            toastWarning('별명을 4자 이상 입력해주세요.');
                            return;
                        }

                        form.email.value = form.email.value.trim();
                        if(form.email.value.length == 0){
                            form.email.focus();
                            toastWarning('이메일을 입력해주세요.');
                            return;
                        }

                        if(form.email.value.length < 4){
                            form.email.focus();
                            toastWarning('이메일을 4자 이상 입력해주세요.');
                            return;
                        }

                        if(validUsername != form.username.value){
                            $(form.username).next().focus();
                            toastWarning('아이디 중복체크를 해주세요.');
                            return;
                        }

                        if(validEmail!=form.email.value){
                            $(form.email).next().focus();
                            toastWarning('이메일 중복 체크를 해주세요.');
                            return;
                        }

                        form.submit();
                        submitJoinFormDone = true;
                    }
                </script>

                <!--form태그 삭제-->

            </div>
        </div>
    </body>
</html>