<html layout:decorate="~{usr/common/layout}">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
        <title>회원가입</title>
    </head>
    <body>
        <div layout:fragment="content" class="flex-1 items-center justify-center">
            <div class="max-w-2x1 w-full px-4">
                <h1 class="mb-4">
                    <i class="fa-solid fauser-plus"></i>
                    회원가입
                </h1>
                <script>
                    function checkUsernameDup(form){

                        form.username.value = form.username.value.trim();

                        if(form.username.value.length == 0) return;

                        if(form.username.value.length < 4) return;


                        fetch('checkUsernameDup?username='+form.username.value)
                            .then(res => res.json())
                            .then((rsData)=>{
                                if(rsData.msg) toastMsg(rsData.success,rsData.msg);
                                if(rsData.success){
                                    validUsername = form.username.value;
                                    $(form.username).addClass('input-accent');
                                }
                            });

                    }

                    const checkUsernameDupDebounce = _.debounce(()=>checkUsernameDup(document['join-form']),1000);

                    let validUsername = '';
                    let submitJoinFormDone = false;

                    function submitJoinForm(form){
                        if(submitJoinFormDone) return;
                        form.username.value = form.username.value.trim();

                        if(form.username.value.length == 0 ){
                            form.username.focus();
                            toastWarning('아이디를 입력해주세요.');
                            return;
                        }

                        if(form.username.value.length < 4){
                            form.username.focus();
                            toastWarning("아이디를 4자 이상 입력해주세요.");
                            return;
                        }

                        form.password.value = form.password.value.trim();

                        if(form.password.value.length == 0){
                            form.password.focus();
                            toastWarning('비밀번호를 입력해주세요.');
                            return;
                        }

                        if(form.password.value.length<4){
                            form.password.focus();
                            toastWarning("비밀번호를 4자 이상 입력해주세요.");
                            return;
                        }

                        form.passwordConfirm.value = form.passwordConfirm.trim();

                        if(form.password.value!= form.passwordConfirm.value){
                            form.passwordConfirm.focus();
                            toastWarning('비밀번호 확인이 일치하지 않습니다.');
                            return;
                        }

                        form.nickname.value = form.nickname.value.trim();
                        if(form.nickname.value.length == 0){
                            form.nickname.focus();
                            toastWarning('닉네임을 입력해주세요.');
                            return;
                        }

                        if(form.nickname.value.length < 4){
                            form.nickname.focus();
                            toastWarning('별명을 4자 이상 입력해주세요.');
                            return;
                        }

                        if(validUsername != form.username.value){
                            $(form.username).next().focus();
                            toastWarning('아이디 중복체크를 해주세요.');
                            return;
                        }

                        form.submit();
                        submitJoinFormDone = true;
                    }
                </script>
                <form th:action name="join-form" method="POST" onsubmit="submitJoinForm(this); return false;" class="flext flext-col gap-6">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">아이디</span>
                        </label>
                        <input type="text" name="username" placeholder="아이디" class="input input-bordered" autofocus maxlength="30"
                        onchange="$(this).keyup();" onpaste="setTimeoutZero(()=>$(this).keyup());" onkeyup="$(this).removeClass('input-accent'); checkUsernameDupDebounce();">
                        <!--<button onclick="checkUsernameDup(this);" type="button" class="btn btn-block mt-2">
                            <span>아이디 중복 체크</span>
                        </button>-->
                    </div>

                    <div class="form-controler">
                        <label class="label">
                            <span class="label-text">비밀번호</span>
                        </label>
                        <input type="password" name="password" placeholder="비밀번호" class="input input-bordered" maxlength="30">
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">비밀번호 확인</span>
                        </label>
                        <input type="password" name="passwordConfirm" placeholder="비밀번호 확인" class="input input-bordered" maxlength="30">
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">별명</span>
                        </label>
                        <input type="text" name="nickname" placeholder="닉네임" class="input input-bordered" maxlength="30">
                    </div>
                    <div>
                        <button class="btn btn-block btn-primary gap-1">
                            <i class="fa-solid fa-user-plus"></i>
                            <span>회원가입</span>
                        </button>
                        <div class="text-center">
                            <button class="btn btn-link">로그인</button>
                            <button class="btn btn-link">아이디 찾기</button>
                            <button class="btn btn-link">비밀번호 찾기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>